body {
	background-color: #dddddd;
	font-family: sans-serif;
			}

.Title {
	font-family: sans-serif;
	margin: 0 auto;
	border: solid 3px;
	border-radius: 5px;
	padding: 8px;
	background-color: grey;
		}
#menu {
	font-family: veranda;
	font-size: 16pt;
	width: 20%;
	vertical-align: top;
	float: left;
	}

.background {
	position: relative;
}
.background p {
	position: relative;
	z-index: 2
}

.background form {
	position: relative;
	z-index: 2;
}

.background img {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	opacity: 0.7;
}

footer {
	position: relative;
	z-index: 2;
}

a:link {
	color: blue;
}	

a:visited {
	color: green; 
	}

main {
	width: 900px;
	margin: auto;
  	vertical-align: top;
  	display: block;
  	}

img {
	width: 100%;
}

footer {
	font-style: oblique;
	text-align: center;
}
.headings {
	text-align: center;
}

@media only screen {
	body {
		width: 100%;
	}
}	
@media screen and (max-width: 800px) {
	img {
    width: 50%;
    	}
    h2 {
    	width: 50%;
	    }
	}